.content-wrapper {
  overflow: hidden;
  margin: 2em;
}
.left-side {

  @include breakpoint($bp-small) {
    width: 29%;
    float: left;
    padding-right: 2em;
    box-sizing: border-box;
  }
} 
.main-wrapper {
  

  @include breakpoint($bp-small) {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 2em;
    border-left: solid 2px $c-dark-grey;
  }
}
.section-icon {
  display: block;
  margin: 0 auto;
}