.content-wrapper {
    overflow: hidden;
    margin: 0 2em 2em 2em;
    padding-top: 4em;
}
.left-side {

  @include breakpoint($bp-small) {
    width: 29%;
    float: left;
    padding-right: 2em;
    box-sizing: border-box;
  }
} 
.main-wrapper {
  

  @include breakpoint($bp-small) {
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: 0 2em;
    border-left: solid 2px $c-dark-grey;
  }
}
.section-icon {
  display: block;
  margin: 0 auto;
  width: 70px;
}

/* Zoom In #1 */
.section-icon {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.section-icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.about-wrapper {
  text-align: center;
}

.activities,
.contact {
  @extend %lines;
  @include breakpoint($bp-small) {
    
  }
}