$value: 300px;
.graph-wrapper {
	margin: 0 auto;
	display: inherit;
	width: 80%;
}
.back-bar {
  height: 20px;
  width: 500px;
  background-color: gray;
  border-radius: 10px;
}
.front-bar {
  background-color:green;
  border-radius: 10px;
}
.half {
  width: 0px;
  height: 20px;
  animation: half 4s forwards;
} 
@keyframes half {
  100% { width: 250px;}
}
.whole {
  width: 0px;
  height: 20px;
  animation: whole 4s forwards;
} 
@keyframes whole {
  100% { width: 500px;}
}
.seventyfive {
  width: 0px;
  height: 20px;
  animation: seventyfive 4s forwards;
} 
@keyframes seventyfive {
  100% { width: 400px;}
}